body{
    font-family: 'Lato', sans-serif;
    height: 100%; 
    margin: 0 auto;
    width: 80%; 
    color: white; 
}

#homeBG{
    background-image: url(images/SM_Sun-bike.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    height: 600px; 
}

.RestBG{
    background-color: #34C19E; 
    background-repeat: no-repeat;
    background-size: cover; 
}

a{
    text-decoration: none; 
    color: white;
}

.topnav {
  overflow: hidden;
  position: relative;
  margin-top: 20px; 
  padding: 10px; 
  margin: 10px; 
}

.topnav #pop-menu{
  display: none;
}

.topnav #pop-menu a{
  display: none;       
}

.topnav .logo-wrapper a{
    text-decoration: none;
    font-size: 150%; 
}


.topnav a{
  color: white;
  display: block;
}

.topnav #pop-menu a{
  padding: 5px 15px;
  text-decoration: none;
  font-size: 110%; 
  display: block;
  text-align: right; 
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  text-decoration: none;
  font-size: 130%; 
  
}

.fa-bicycle{
    margin: 0 5px;
}

.wrapper{
    margin-top: 100px; 
}

.stars{
    text-align: center; 
    margin-bottom: 30px; 
}

.hero-text{
    text-align: center; 
    font-size: 130%; 
    padding: 0 20px; 
    margin-bottom: 50px; 
}

.route{
    text-align: center; 
    padding: 10px; 
    border-radius: 4px; 
    background-color: #34C19E; 
    font-size: 140%; 
    margin: 0 100px;  
}

#route-desktop{
    display: none; 
}

#route-mobile{
        display: block; 
    }

.route:hover{
    transform: scale(1.01); 
    background-color: #30AB76; 
}



/** Gå igenom - Styling av Tours page**/


.tour-wrapper{
    clear:both; 
    text-align: center; 
    position: relative; 
    padding-bottom: 60px; 
}

#tours{
    font-size: 1.7em;
    margin: 40px 0 30px;
    padding: 25px 0;
}

#tour_text{
    grid-column: 1/7;
    grid-row: 2;
    padding: 10px 50px 30px;
}

.city{
    padding: 1px;
    border: 4px solid white;
    margin-bottom: 10px;
    border-radius: 5px; 
}

.tour_t{
    margin: 100px 0 20px; 
}

iframe:hover{
    transform:scale(1.1); 
}


.textdeco1{
    padding: 0px 50px 10px;
    font-size: 0.95em;
}

hr{
    width: 30%;
}
/*

/** Styling av About page ***/



.about-wrapper{
    clear:both; 
    text-align: center; 
}


.about-wrapper .textbody{
    font-size: 1.0em;
    margin: 15px 10px;
    padding: 20px 10px 10px; 
}

.brothers img{
    border: 4px solid white; 
    border-radius: 5px; 
    width: 90%; 
    
}

.brothers img:hover{
    opacity: 0.6; 
}

.profile-images img{
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 100px; 
}

.profile-images img:hover{
    opacity: 0.5; 
    transform:scale(1.3); 
}

.about-intro{
    padding: 20px 30px 10px; 
    margin: 20px 0 10px;
}

.about-text{
    padding: 20px 30px 10px; 
    margin: 10px 35px 0;
}



/** Styling av contact page ***/

.contact_wrapper{
    clear:both; 
    text-align: center; 
}

.contact_wrapper #city5{
    margin:40px 0 40px; 
    border-radius: 5px; 
}

.social{
    font-size: 1.5em;
    padding: 10px;
}

.find-us-h3{
    padding: 10px; 
}

.contact_wrapper #contac-social-wrapper{
    margin: 20px; 
}

#mail .fa-phone{
    padding:15px; 
}


    
footer{
    text-align: center; 
    position: absolute; 
    width: 80%; 
    font-size: 100%; 
    }

#footer-ind-page{
    bottom: 10px;
}








/** Style for 768px and bigger **/

@media only screen and (min-width: 768px){
    
    
#homeBG{
    background-image: url(images/citybike2_BW.png); 
    background-color: rgba (0, 0, 0, 1.0); 
    background-size: cover;
    background-repeat: no-repeat; 
    height: 900px; 
    }
    
.topnav .fa-bars{
        display: none; 
    }
    
.logo-wrapper{
    width: 60%; 
    font-size: 150%;
    }
    
    
.topnav #pop-menu{
    display: inline-block;
    }
    
.topnav #pop-menu a{
    display: inline-block; 
    margin-top: 10px; 
    }
    
.topnav{
    display: grid; 
    margin-top: 40px;
    font-size: 130%; 
    min-height: 130px; 
    }
    
.logo_name:hover{
    transform: scale(1.05); 
    }
    
.logo-wrapper{
    grid-column-start: 1;
    grid-column-end: 4; 
    }
    
#pop-menu{
    grid-column-start: 4;
    grid-column-end: 6;
    margin: 0 auto; 
    margin-right: 0; 
    }
    
.topnav #pop-menu a:hover{
    border-bottom: 3px solid white; 
    }
    
.index-topnav #pop-menu a:hover{
    border-bottom: 3px solid #34e89e; 
    }
    

    
.wrapper{
    display: grid; 
    margin-top: 100px; 
    }
    
.stars{
    grid-column-start: 1;
    grid-column-end: 3; 
    grid-row: 2; 
    text-align: center; 
    }
    
.hero-text{
    grid-column-start: 4;
    grid-column-end: 6;
    font-size: 160%;
    grid-row: 2; 
    text-align: center; 
    padding: 60px; 
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px; 
    }
    
.route{
    grid-row: 5;
    grid-column-start: 3; 
    grid-column-end: 6;
    text-align: center; 
    margin: 0 150px 0 200px ;
    }
    
#route-mobile{
        display: none; 
    }
    
#route-desktop{
    display: block; 
    font-size: 100%; 
    margin-top: 60px; 
}

    
.stars img{
    width: 70%;    
    margin-top: 30px; 
    }
    
footer{
    font-size: 120%;     
    }
    
.footer_text{
    padding: 20px 10px; 
    }
    

 
    
    
/** Gå igenom - styling av About us for web **/    
    
    .about-wrapper{
        display:grid; 
        grid-template-columns: repeat(7, 1fr); 
    }
    
    .about-wrapper .About-us-intro-box{
        grid-column: 2/7;
        grid-row: 2;
    }
    
    .about-wrapper .about-box1{
        grid-column: 2/4; 
        grid-row:3; 
         
    }
    
    .about-wrapper .about-box2{
        grid-column: 5/7; 
        grid-row:3; 
    }
    
    .about-box3{
        grid-column: 2/4; 
        grid-row:4; 
    }
    
    .about-box4{
        grid-column: 5/7; 
        grid-row:4; 
    }
    
    
    
    hr{
        width: 20%;
    
    }
    .brothers img{
        width: 100%;
    }
    
    #tours{
        font-size: 2.6vw;
        margin: 0; 
    }
    
    .about-wrapper .textbody{
        font-size: 150%; 
        padding:0 15px; 
    }
    
    
    .profile-images img{
        width: 100%;
        margin:80px 0 40px;
    }
    
    .about-intro, .about-text{
        font-size: 115%; 
        padding:10px 0 10px;
        margin: 0; 
    }
    
    
    
    
    
    
    
    
    /** styling av Tours for web **/   

    .tour-wrapper{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    
    .city{
        width: 70%;
        margin-bottom: 100px; 
    }
    
   #tours{
        grid-column: 1/8; 
        grid-row:1; 
    }
    

    #tour_text{
        grid-column: 1/8;
        grid-row: 2; 
        padding: 10px;
        font-size: 1.5vw; 
    }
    
    .tour_t{
        margin: 60px 0 20px; 
        font-size: 1.4vw; 
    }
    
    .tour_t_mike{
        margin: 60px 0 20px; 
        font-size: 1.4vw; 
    }
    
    #tour-box1{
        grid-column: 2/4; 
        grid-row:3; 
         
    }
    
    #tour-box2{
        grid-column: 5/7; 
        grid-row:3; 
    }
    
    #tour-box3{
        grid-column: 2/4; 
        grid-row:4; 
    }
    
    #tour-box4{
        grid-column: 5/7; 
        grid-row:4; 
    }
    
    .tour-wrapper .textdeco1{
        padding:20px; 
        font-size: 1.1vw; 
        
    }
    

    
    
    
    
    
    /** styling av Contacts for web **/   
    

    
    .contact_wrapper .city{
        margin-bottom: 0; 
        width: 60%; 
    }
    
    .find-us-h3{
        font-size: 2vw; 
    }
    
    
}


    
    
    
    
    
    
    
    
    
    
